@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'cap';
    src: url('/fonts/American Captain.woff2') format('woff2');
    /* font-weight: 400; */
    font-style: normal;
    font-display: swap; /* ensures text is visible while font loads */
  }
  
  /* @font-face {
    font-family: 'MyFont';
    src: url('/fonts/MyFont-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  } */
  
*{
    font-family: poppins;
}